<div class="embedWrapper" ng-class="{open: $parent.showEmbed}" ng-show="$parent.showEmbed">
    <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front" tabindex="-1" role="dialog" style="height: auto; width: 450px; top: calc(50% - 225px); left: calc(50% - 225px); display: block;" aria-describedby="wsumap_mess" aria-labelledby="ui-id-7">
	    <div id="wsumap_mess" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: auto;">
		    <div id="embedArea">
			    <h2>Page Link</h2>
			    <h3 id="ebLink"><em id="linkurl">{{$parent.currentUrl}}</em></h3>
			    <div id="ebLink_con" style="position:relative; float:right;">
				    <div id="ebLink_but" class="my_clip_button"><b>Copy</b></div>
				    <div style="position: absolute; left: 0px; top: 0px; width: 0px; height: 0px; z-index: 99;">
					    <embed id="ZeroClipboardMovie_4" src="/Content/js/zeroclipboard/ZeroClipboard.swf" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="0" height="0" name="ZeroClipboardMovie_4" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=4&amp;width=0&amp;height=0" wmode="transparent" style="height: 0px; width: 0px;">
				    </div>
			    </div>
			    <hr style="clear:both;">
				    <h2> Embed code </h2>
				    <div id="custom">
					    <label><input type="radio" value="s" name="size" ng-click="showCustom=false;embedW=214;embedH=161">  Small <em>(214 x 161)</em></label>
					    <label><input type="radio" value="m" name="size" ng-click="showCustom=false;embedW=354;embedH=266">  Medium <em>(354 x 266)</em></label>
					    <label><input type="radio" checked="checked" name="size" ng-click="showCustom=false;embedW=495;embedH=372">  Large <em>(495 x 372)</em></label>
					    <label><input type="radio" name="size" value="xl"  ng-click="showCustom=false;embedW=731;embedH=549">  Largest <em>(731 x 549)</em></label>
					    <label><input type="radio" value="c" name="size"  ng-click="showCustom=true">  Custom</label>
					    <div id="cSize" ng-show="showCustom" style="font-size:12px;">
						    Width:  <input id="w" ng-model="customEmbedW" value="" style="width:50px;">px<br>
						    Height:  <input id="h" ng-model="customEmbedH" value="" style="width:50px;">px
					    </div>
				    </div>
				    <textarea disabled="disabled" ng-show="!showCustom">&lt;iframe width="{{embedW}}" height="{{embedH}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{$parent.currentUrl}}" &gt;&lt;/iframe&gt;</textarea>
				    <textarea disabled="disabled" ng-show="showCustom">&lt;iframe width="{{customEmbedW}}" height="{{customEmbedH}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{$parent.currentUrl}}" &gt;&lt;/iframe&gt;</textarea>
				    <div id="d_clip_container" style="position:relative; float:right;">
				    <div id="d_clip_button" class="my_clip_button"><b>Copy</b></div>
				    <div style="position: absolute; left: 0px; top: 0px; width: 0px; height: 0px; z-index: 99;">
					    <embed id="ZeroClipboardMovie_3" src="/Content/js/zeroclipboard/ZeroClipboard.swf" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="0" height="0" name="ZeroClipboardMovie_3" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=3&amp;width=0&amp;height=0" wmode="transparent" style="height: 0px; width: 0px;">
				    </div>
			    </div>
			    <hr style="clear:both;">
			    <a  id="request">WSU units: Request access to create your own map. »</a>
		    </div>
		    <span class="tabedBox infoClose" ng-click="$parent.showEmbed=false;">X</span>
	    </div>
    </div>
    <div ng-click="$parent.showEmbed=false;" class="ui-widget-overlay ui-front" style="z-index: 99998;"></div>
</div>