<div class="messageWrapper" ng-show="$parent.popupmessage">
    <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front" tabindex="-1" role="dialog" style="height: auto; top: calc(50% - 225px); left: calc(50% - 225px); display: block;">
        <div id="wsumap_mess" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: auto;">
            <div id="wsumap_errorReporting">
                <h3>
                    {{popupmessage}}<br />
                    <input type="Submit" ng-click="$parent.popupmessage = ''" value="Close">
                </h3>
            </div>
        </div>
    </div>
    <div ng-click="$parent.popupmessage='';" class="ui-widget-overlay ui-front" style="z-index: 99998;"></div>
</div>