<div class='infoBox'><span class='tabedBox infoClose' ng-click="closeClick()">X</span>
	<!-- Full info popup -->
	<div id='popup' class='ui-tabs ui-widget ui-widget-content ui-corner-all'>
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
			<li class="ui-state-default ui-corner-top first ui-tabs-selected ui-state-active ui-tabs-active" role="tab" tabindex="0" aria-controls="tabs-0" aria-labelledby="ui-id-2" aria-selected="true" aria-expanded="true"><a href="#tabs-0" hidefocus="true" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">Overview</a></li>
			<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-1" aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false"><a href="#tabs-1" hidefocus="true" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3" ng-show="(parameter.model.fields | filter:parameter.fieldIsntEmpty | filter:parameter.isntADA).length > 0">What's Here</a></li>
			<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-4" aria-selected="false" aria-expanded="false"><a href="#tabs-2" hidefocus="true" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-4" ng-show="parameter.model.Images.length > 0">Views</a></li>
			<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-3" aria-labelledby="ui-id-5" aria-selected="false" aria-expanded="false"><a href="#tabs-3" hidefocus="true" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-5" ng-show="(parameter.model.fields | filter:parameter.fieldIsntEmpty | filter:parameter.isADA).length > 0">Access</a></li>
		</ul>
		<!-- Overview -->
		<div id="tabs-0" class="ui-tabs-panel ui-widget-content ui-corner-bottom resp" style="" aria-labelledby="ui-id-2" role="tabpanel" aria-hidden="false">
			<div class="content Overview" style="width: 355px;">
				<h2 class="header"><span class="iw_id">{{parameter.model.number}}</span>{{parameter.getName()}} <span ng-show="parameter.model.abbrev_name.trim()">({{parameter.model.abbrev_name.trim()}})</span></h2>
				<a href="{{parameter.getImageLink(parameter.model.Images[0].id)}}" alt="" hidefocus="true" rel="gouped" class="gouped headImage orientation_h" target="_blank" ng-show="parameter.model.Images.length > 0">
					<img ng-src="/api/v1/media/{{parameter.model.Images[0].id}}?placeid={{parameter.model.id}}&m=crop&w=135&h=75" rel="gouped" class="grouped headImage orientation_h" width="135" height="75">
				</a>
				<p ng-bind-html="parameter.model.details"></p>
			</div>
			<a class="directionsTo"  ng-click="parameter.beginDirectionsFrom(parameter.model);">Directions to</a><a class="errorReporting"  ng-click="parameter.showReportErrorPopup(parameter.model.id, parameter.getName())">Report&nbsp;&nbsp;error</a>
		</div>
		<!-- What's Here -->
		<div id="tabs-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom resp" style="display: none;" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="false" ng-show="(parameter.model.fields | filter:parameter.fieldIsntEmpty | filter:parameter.isntADA).length > 0">
			<div class="content What_s_Here" style="width: 345px;">
				<h2 class="header"><span class="iw_id">{{parameter.model.number}}</span>{{parameter.getName()}} <span ng-show="parameter.model.abbrev_name.trim()">({{parameter.model.abbrev_name.trim()}})</span></h2>
				<ul>
					<li ng-repeat="onefield in parameter.model.fields | filter: parameter.fieldIsntEmpty | filter: parameter.isntADA"><strong>{{onefield | getfieldname}}</strong><span ng-bind-html="onefield | getfieldvalue" ng-show="(onefield | getfieldvalue) != 'yes'"></span></li>
				</ul>
			</div>
			<a class="directionsTo"  ng-click="parameter.beginDirectionsFrom(parameter.model);">Directions to</a><a class="errorReporting"  ng-click="parameter.showReportErrorPopup(parameter.model.id, parameter.getName())">Report&nbsp;&nbsp;error</a>
		</div>
		<!-- Views -->
		<div id="tabs-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom resp" style="display:none;" aria-labelledby="ui-id-4" role="tabpanel" aria-hidden="false" ng-show="parameter.model.Images.length > 0">
			<div class="content Views" style="width: 355px;">
				<div class="cycleArea">
					<div class="cycle">
						<a  class="prev" hidefocus="true" target="_blank">Prev</a>
						<div class="cWrap">
							<div class="items">
								<a ng-repeat="oneimage in parameter.model.Images" href="{{parameter.getImageLink(oneimage.id)}}"><img ng-src="/api/v1/media/{{oneimage.id}}?placeid={{parameter.model.id}}&m=constrain&h=190"></a>
							</div>
						</div>
						<a  class="next" hidefocus="true" target="_blank">Next</a>
						<div class="navArea"><ul class="cNav"></ul></div>
					</div>
				</div>
			</div>
			<a class="directionsTo"  ng-click="parameter.beginDirectionsFrom(parameter.model);">Directions to</a><a class="errorReporting"  ng-click="parameter.showReportErrorPopup(parameter.model.id, parameter.getName())">Report&nbsp;&nbsp;error</a>
		</div>
		<!-- ADA TAB -->
		<div id="tabs-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom resp" style="display: none;" aria-labelledby="ui-id-5" role="tabpanel" aria-hidden="false" ng-show="(parameter.model.fields | filter:parameter.fieldIsntEmpty | filter:parameter.isADA).length > 0">
			<div class="content" style="width: 345px;">
				<h2 class="header"><span class="iw_id">{{parameter.model.number}}</span>{{parameter.getName()}} <span ng-show="parameter.model.abbrev_name.trim()">({{parameter.model.abbrev_name.trim()}})</span></h2>
				<ul>
					<li ng-repeat="onefield in parameter.model.fields | filter: parameter.fieldIsntEmpty | filter: parameter.isADA"><strong>{{onefield | getfieldname}}</strong><span ng-bind-html="onefield | getfieldvalue"></span></li>
				</ul>
			</div>
			<a class="directionsTo"  ng-click="parameter.beginDirectionsFrom(parameter.model);">Directions to</a><a class="errorReporting"  ng-click="parameter.showReportErrorPopup(parameter.model.id, parameter.getName())">Report&nbsp;&nbsp;error</a>
		</div>
	</div>
</div>