#campusmap {
	#selectedPlaceList_area {

		ul {
			padding-bottom: 75px;

			li {
				a {
					cursor: pointer;
				}
			}
		}

		#directions_area {
			padding-top: 5px;
		}
	}

	#listing {
		overflow: hidden;
		user-select: none;
	}

	#selectedPlaceList {
		width: 235px;
	}

	#spine {
		#glue {
			#spine-navigation {
				height: auto;

				#main_nav {

					.active {

						li {
							a {
								padding-bottom: 0;
							}
						}

						ul {
							margin-top: 3px;
						}
					}

					li {
						a {
							height: auto;
						}
					}
				}

				.spine-sitenav {
					padding-bottom: 50px;
				}

				form#getDirections {

					ul {

						#directionsFrom {
							&:before {
								top: auto;
							}
						}

						#directionsTo {
							&:before {
								top: auto;
							}
						}
					}
				}
			}
		}
	}

	footer {
		background-color: #fff;
	}
}

#main_nav {
	.parentarea {
		ul {
			li {
				em {
					box-sizing: border-box;
				}
			}
		}
	}
}

#spine-navigation {
	overflow: hidden;
	user-select: none;
}

#glue {
	height: 100%;
}

.moveformenu {
	margin-left: 235px;
}

form {

	label {
		display: block;
		margin-top: 5px;
	}
}

@keyframes rotate {

	from {
		transform: rotate(0deg);
	}

	to {
	    transform: rotate(359deg);
	}
}

.ui-widget-overlay {
	background: #000;
	opacity: 0.5;
}

.loaderWrapper {
	.loader {
		animation-timing-function: linear;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-name: rotate;
		background: transparent url(/Content/images/ico-loader.png);
		background-size: 100% 100%;
		height: 20px;
		position: absolute;
		right: calc(50% - 10px);
		top: calc(50% - 10px);
		width: 20px;
		z-index: 99999;
	}
}

.ng-hide-add {
	animation: 0.5s fadeOut ease;
}

.ng-hide-remove {
	animation: 0.5s fadeIn ease;
	transform: none;
}

.ui-dialog {
	transform: translateY(80%) scale(.8);
	transition: 0.5s;
}

.open {

	.ui-dialog {
		transform: none;
	}
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

a {
	cursor: pointer;
}


@color_1: #2c2c2c;
@color_2: #000;
@color_3: #676767;


.adp {
	font-weight: 300;
	color: @color_1;

	table {
		font-weight: 300;
		color: @color_1;
	}

	b {
		font-weight: 400;
	}
}

.adp-list {
	b {
		font-weight: 400;
	}

	background: #fff;
	border: 1px solid #cdcdcd;
	cursor: pointer;
	padding: 4px;
	font-weight: 300;
	color: @color_1;

	img {
		width: 15px;
		height: 15px;
		position: relative;
		top: 2px;
		margin-right: 3px;
	}

	.gm-arrow {
		width: 8px;
		height: 9px;
		margin: 5px 0 3px;
	}
}

.adp-warnbox {
	margin: 5px 0 3px;
}

.warnbox-content {
	background: #fff1a8;
	padding: 5px 6px;
}

.warnbox-c1 {
	background: #fff1a8;
	font-size: 1px;
	height: 1px;
	overflow: hidden;
	margin: 0 2px;
}

.warnbox-c2 {
	background: #fff1a8;
	font-size: 1px;
	height: 1px;
	overflow: hidden;
	margin: 0 1px;
}

.adp-fullwidth {
	width: 100%;
}

.adp-listsel {
	background: #eee;
	text-decoration: none;
}

.adp-listheader {
	padding: 4px;
}

.adp-placemark {
	background: #eee;
	color: @color_2;
	cursor: pointer;
	margin: 10px 0;
	vertical-align: middle;
}

.adp-marker {
	width: 22px;
	height: 40px;
}

.adp-details {
	color: @color_3;
}

.adp-legal {
	color: @color_3;
}

.adp-summary {
	padding: 0 3px 3px;
}

.adp-step {
	border-top: 1px solid #cdcdcd;
	margin: 0;
	padding: .3em 3px;
	vertical-align: top;
	width: 100%;
}

.adp-substep {
	border-top: 1px solid #cdcdcd;
	margin: 0;
	padding: .3em 3px;
	vertical-align: top;

	img {
		width: 15px;
		height: 15px;
		position: relative;
		top: 2px;
		margin-right: 3px;
	}

	.gm-line {
		margin-right: 4px;
	}

	.adp-stepicon {
		overflow: hidden;
		position: relative;
		top: 0;
		left: 0;
		width: 16px;
		height: 16px;

		.adp-maneuver {
			background-size: 19px 630px;
			position: absolute;
			left: 0;
			width: 16px;
			height: 16px;
			background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/maneuvers.png);
		}

		.adp-maneuver.adp-ferry {
			background-position: 0 -614px;
		}

		.adp-maneuver.adp-ferry-train {
			background-position: 0 -566px;
		}

		.adp-maneuver.adp-merge {
			background-position: 0 -143px;
		}

		.adp-maneuver.adp-straight {
			background-position: 0 -534px;
		}

		.adp-maneuver.adp-fork-left {
			background-position: 0 -550px;
		}

		.adp-maneuver.adp-ramp-left {
			background-position: 0 -598px;
		}

		.adp-maneuver.adp-roundabout-left {
			background-position: 0 -197px;
		}

		.adp-maneuver.adp-turn-left {
			background-position: 0 -413px;
		}

		.adp-maneuver.adp-keep-left {
			background-position: 0 -413px;
		}

		.adp-maneuver.adp-turn-sharp-left {
			background-position: 0 0;
		}

		.adp-maneuver.adp-turn-slight-left {
			background-position: 0 -378px;
		}

		.adp-maneuver.adp-uturn-left {
			background-position: 0 -305px;
		}

		.adp-maneuver.adp-fork-right {
			background-position: 0 -499px;
		}

		.adp-maneuver.adp-ramp-right {
			background-position: 0 -429px;
		}

		.adp-maneuver.adp-roundabout-right {
			background-position: 0 -232px;
		}

		.adp-maneuver.adp-turn-right {
			background-position: 0 -483px;
		}

		.adp-maneuver.adp-keep-right {
			background-position: 0 -483px;
		}

		.adp-maneuver.adp-turn-sharp-right {
			background-position: 0 -582px;
		}

		.adp-maneuver.adp-turn-slight-right {
			background-position: 0 -51px;
		}

		.adp-maneuver.adp-uturn-right {
			background-position: 0 -35px;
		}
	}
}

.adp-distance {
	white-space: nowrap;
}

.adp-text {
	width: 100%;
}

.adp-directions {
	cursor: pointer;
	border-collapse: collapse;
}

.adp-agencies {
	font-size: 80%;
	margin: 5px 0;
}

.adp-summary-duration {
	float: right;
	margin-left: 7px;
	white-space: nowrap;
}
